html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #cccccc;
}

.shortView{
  max-height: 350px;
}

.selectorTab {
  text-align: right;
}

.personList {
  list-style-type: none;
  width: 35%;
  padding-left: 63%;
  text-align: right;
}

.personListElement {
  border: 1px solid black;
  text-align: center;
  margin: 10px 0px;
}

.tab, .selectorTab, .switcherTab, .previewTab {
  height: 350px;
  width: 350px; 
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: #ffaaaa;
  font-size: 16px;
  margin: 7px auto;
  display: block;

}

.view {
  display: inline-block;
}

._input {
  margin: 10% 0px 0px 0px;
  font-size: 72px;
  font-family: Impact;
  text-align: center;
  text-shadow: 4px 4px 5px black;
}

.hidden {
  display: none;
}